@import "./variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-geist-sans);
}

body {
  min-height: 100vh;
  background: linear-gradient(50deg, $color-secondary 10%, $color-primary 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.mt-1 {
  margin-top: 1rem;
}

@for $i from 1 through 10 {
  .m-#{$i} {
    margin: #{$i}rem;
  }
  .mt-#{$i} {
    margin-top: #{$i}rem;
  }
  .mb-#{$i} {
    margin-bottom: #{$i}rem;
  }
}
